<form name="loanForm" novalidate>

<div class="row">
    <div class="small-6 columns">
        <h2>Get Out of Debt!</h2>
    </div>
    <div class="small-2 columns">
        <br><button class="button small" ng-click="addDebtRow()">Add row</button>
    </div>
</div>
<div class="row" ng-repeat="row in debtRows" id="loan-{{$index}}">
    <div class="row" ng-show="errors">
        <alert ng-repeat="alert in errors[$index].non_field_errors" type="'alert'" close="closeAlert($parent.$index, $index, 'non_field_errors')">
            {{alert}}
        </alert>
    </div>
    <div class="small-3 columns">
        <label>
            Name:
            <input type="text" ng-model="row.debt_name">
        </label>
        <alert ng-show="errors[$index].name" type="alert" close="closeAlert($parent.$index, $index, 'name')">
            {{errors[$index].name}}
        </alert>
    </div>
    <div class="small-2 columns">
        <label>
            Amount:
            <input type="number" ng-model="row.principal" min="0" ng-required>
        </label>
        <alert ng-show="errors[$index].principal" ng-repeat="p_error in errors[$index].principal" type="'alert'" close="closeAlert($parent.$index, $index, 'principal')">
            {{p_error}}
        </alert>
    </div>
    <div class="small-2 columns">
        <label>
            Min. payment
            <input type="number" ng-model="row.monthly_payment" min="0" ng-required>
         </label>
        <alert ng-show="errors[$index].monthly_payment" ng-repeat="mp_error in errors[$index].monthly_payment" type="'alert'" close="closeAlert($parent.$index, $index, 'monthly_payment')">
            {{mp_error}}
        </alert>
    </div>
    <div class="small-2 columns">
        <label>
            Extra Payment
            <input type="number" ng-model="row.extra_payment" min="0">
        </label>
        <alert ng-show="errors[$index].extra_payment" ng-repeat="ep_error in errors[$index].extra_payment" type="'alert'" close="closeAlert($parent.$index, $index, 'extra_payment')">
            {{ep_error}}
        </alert>
    </div>
    <div class="small-2 columns">
        <label>
            Interest Rate:
            <input type="number" ng-model="row.interest_rate" min="0" ng-required>
        </label>
        <alert ng-show="errors[$index].interest_rate" ng-repeat="int_error in errors[$index].interest_rate" type="'alert'" close="closeAlert($parent.$index, $index, 'interest_rate')">
            {{int_error}}
        </alert>
    </div>
    <div class="small-1 columns">
        <a href="" class="close" ng-click="removeDebtRow($index)">&times;</a>
    </div>
</div>

<div class="row">
    <div class="small-2 columns">
        <button ng-click="calculate()" class="button small">Calculate</button>
    </div>
</div>

</form>
<div class="row" >
    <div class="large-12 columns">
        <div style="height: 400px;" ng-show="showChart()">
            <ul class="no-bullet">
                <li>Debt free in: {{debtFree}}!</li>
            </ul>
            <canvas
                tc-chartjs
                chart-type="line"
                chart-data="chartData"
                chart-options="chartOptions"
                >
            </canvas>
        </div>
    </div>
</div>
